html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* padding */
.py-2{
  padding-top: 20px;
  padding-bottom: 20px;
}
.px-auto{
  padding-left: 20px;
  padding-right: 20px;
}

/* margin */
.mx-1{
  margin-left: 10px;
  margin-right: 10px;
}
.mx-2{
  margin-left: 20px;
  margin-right: 20px;
}
.my-1{
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-2{
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-3{
  margin-top: 30px;
  margin-bottom: 30px;
}
.my-5{
  margin-top: 50px;
  margin-bottom: 50px;
}
.m-auto{
  margin:0 auto;
}

/* img */
.img-w150{
  width: 150px;
}
.img-w200{
  width: 200px;
}
.img-w100p{
  width: 100%;
}
.img-circle{
  width:80px;
  height:80px;
  border-radius: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  background: #42425b;
  padding:5px!important;
}
.port .item h3{
  margin: 0px 10px!important;
}

.img-half{
  width: 30vw;
}
/* flex */

.flex{
  display: flex;
}
.flex-dc{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-1{
  flex: 1;
}
.justify-content-center{
  justify-content: center;
}

.justify-content-space{
  justify-content: space-around;
}

.align-items-center{
  align-items: center;
}

/* text */
.text-center{
  text-align: center;
}

btn a{
  color: #30D780;
  font-weight: bold;
}

/* page header */
.page_head{
  color: #30D780;
  background-color: #232340;
  text-align: center;
}

.color-white{
  color: #fff;
}

.socials{
  align-items: center;
  margin: auto;
  flex-direction: column;
}
.socials .icons i{
font-size: 20px;
padding: 8px;
color:#232340;
background: #00FFAA;
border-radius:8px;
margin: 0px 8px;
}


@media (min-width:768px){

  .port_container{
    gap:2rem;
    column-width: 30vw;
    float:none;
    
  }
  .blog_excerpt{
   page-break-after:always;
    display:inline-block;
    margin-bottom: 30px;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 8px;
  }
}

.blog_excerpt h2,.port .cat,.port h2{
  color:#30D780;
}


/* nav menu */

header{
  background: #30d7801f;
}
footer{
  background: #232340;
  color: #fff;
}

 .openMenu i{
    display: none;
  }

  .nav-links a{
    position: relative;
    color:#F4B245;
    font-weight: bold;
  }

  .nav-links-dark a{
    position: relative;
    color:#232340;
    font-weight: bold;
  }

  .nav-links a::after,.nav-links-dark a::after{
    background-color: #F4B245;
    content: '';
    height: 2px;
    width: 0%;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    margin: auto;
    transition:0.6s;
  }

  .nav-links a:hover::after,.nav-links-dark a:hover::after{
    width: 100%;
    transition: 0.6s;
  }

  .btn{
    background-color: #30D780;
    color: #33334e;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
  }
.port .item{
  border-radius: 5px;
  border:1px solid rgb(197, 197, 197);
  margin: 10px;
  padding: 5px;
  display: flex;
  width:100%;
  align-items: center;
  min-width: 190px;
}
/* home page */

.about{
  background-color:#232340;
  padding: 50px 20px;
}
.skills{
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color:#33334E;
  padding: 50px 20px;
}

/* desktop */
@media (min-width:700px){
  .mepic{
    width:65%;
  }
  .onlyDesk{
    display:block;
  }
  .onlyMobile{
    display:none;
  }

  /* home page hero */
.hero-text{
  color:#30D780;
  padding: 200px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.hero-text h1{
  font-size: 45px;
  margin-bottom:0px ;
}
.hero-text h4{
  color: #ffffff;
  margin-top:10px ;
  font-size: 25px;
}
.hero-bg{
  background-image: url('/hero-1.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: #33334E;
}               

  

.flex-half{
  flex:1;
}

  /* home page hero end  */

header{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}
.page_head{
  padding-top: 100px;
}

}


/* mobile */
@media (max-width:700px){

  .justify-content-center-m{
    justify-content: center;
  }

  .mepic{
    width:70%;
  }
  .onlyDesk{
    display:none;
  }
  .onlyMobile{
    display:block;
  }
  .nav-links,.nav-links-dark{
    position: absolute;
    left: -250px;
    top: 0;
    height: 100%;
    min-width: 250px;
    padding: 50px;
    background-color: #33334E;
    transition: 0.5s;
  }
  .nav-links a,.nav-links-dark a{
    display:block;
    color: #ffffff;
    padding: 5px 0px;
  }
  .openMenu i{
    color: #30D780;
    display: block;
    text-align: end;
    font-size: 30px;
  }

  .nav-links a::after,.nav-links-dark a::after{
    background-color: #ffffff;
  }
  .img-w150 {
	  width: 100px;
  }
  .py-3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .justify-content-space {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  .open{
    left: 0;
  }

  /* home hero */
.hero-text h1{
  color:#30D780;
  margin-bottom: 5px;
}
.hero-text{
  color:#ffffff;
  text-align: center;
  margin:20px 20px;
  padding: 20px 10px;
  width: 100%;
  border-radius: 10px;
}

header{
  background-color: #232340;
}
.hero-bg{
  background-color: #33334E;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
/* home hero end */

}

/* end mobile */